<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326069795784-lsencr77mm151t3g0vckih9t3rsp3f8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326069795784-lsencr77mm151t3g0vckih9t3rsp3f8f</string>
	<key>API_KEY</key>
	<string>AIzaSyCqshmh2oi3MOagXqSAoZt40qet-pCPliU</string>
	<key>GCM_SENDER_ID</key>
	<string>326069795784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TaskProject</string>
	<key>PROJECT_ID</key>
	<string>taskproject-8293b</string>
	<key>STORAGE_BUCKET</key>
	<string>taskproject-8293b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326069795784:ios:ef81804fb73a753beb1efd</string>
</dict>
</plist>